.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.website-logo {
  width: 160px;
}

.timer-container {
  display: flex;
  align-items: center;
}

.timer-container span {
  margin-left: 10px;
  color: whitesmoke;
}

.navbar {
  padding: 10px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.score-container {
  display: flex;
  align-items: center;
}
.highlighted-text {
  color: orange;
  border-bottom: 2px solid orangered;
}
.timer-img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.tab-container {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tab-list-container {
  display: flex;
  list-style-type: none;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

button {
  margin-left: 10px;
  color: rebeccapurple;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
}
.thumbnail-image {
  height: 100px;
  width: 100px;
}
